<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="./packages" />
	<add key="globalPackagesFolder" value="./packages" />
  </config>
  <solution>
    <add key="disableSourceControlIntegration" value="True" />
  </solution>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="Fintech Nugets" value="http://ztfs-2017.fintech.ru:8888/nuget" />
    <add key="External Nugets" value="http://ztfs-2017.fintech.ru:8891/nuget" />
    <add key="Operational Nugets" value="http://ztfs-2017.fintech.ru:8890/nuget" />
    <add key="QA Nugets" value="http://ztfs-2017.fintech.ru:8889/nuget" />
  </packageSources>
</configuration>